/*Contains the CSS to have a grid view of the page
ARGUMENTS:
--no-cache --update $FileName$:$FileParentDir$/css/$FileNameWithoutExtension$.css
http://stackoverflow.com/questions/14207109/hiding-elements-in-responsive-layout
*/
@import "variables";
@import "mixins";

.box {
  background-color: #f0ad4e;
  border: #0f0f0f dashed;
  height: 100px;
  box-sizing: border-box;
}

@media only screen and (min-width: 768px) {

  .box {
    background-color: #2e6da4;

  }
}

$wireFrame: off;

@if $wireFrame ==on {

  [class^="row"] {
    border: solid orange;
  }

  [class ^="col"] {
    border: black dashed thin;
  }

} @else if $wireFrame == off {
  [class^="row"] {
    border: none;
  }

  [class ^="col"] {
    border: none;
  }

}

.tall-box {
  height: 400px;
  @include danger;
}

#right-hand {
  float: left;
}

.stack {
  width: 100%;
  padding: 5px;
  margin: 0;
}

/*-----------Sidebar scss------------*/
/*http://stackoverflow.com/questions/1575141/make-div-100-height-of-browser-window*/
body {
  height: 100%;
}

#sidebar-wrapper {
  width: 20%;
  height: 100vh;
  background-color: #2e6da4;
  opacity: 0.2;

}

#sidebar-list {

  color: lightblue;
  opacity: 1;

}

#sidebar-list li:hover {
  color: black;
  background-color: orchid;
}

/*-----------Animation Code------------*/

#viz-title {

  color: black;

  @include mobile-large {
    color: red;
  }

  @include mobile-small {
    color: greenyellow;
  }

  @include tablet-screen {
    color: orchid;
  }

  @include laptop-screen {
    color: brown;
  }

  @include large-screens {
    color: blue;
  }
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

#time-picker {
  width: 30%;
  float: left;
}

#date-picker {
  width: 25%;
  float: left;
  margin-right: 5px;
}

#time-label{
  float: left;
  margin-right: 5px;
}

#asset-selector{
  min-width: 50%;
}


#bar-chart{
  background-color: #d6d4d8;
  border: solid thin;
  margin-left: 10px;
}

//style the first bar graph
.bar-first{

  fill: red;
  shape-rendering: crispEdges;
  border-radius: 5px;



}