<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container-fluid">
    <div class="row c">
        <div class="col-lg-1 box">1</div>
        <div class="col-lg-1 box">1</div>
        <div class="col-lg-1 box">1</div>
        <div class="col-lg-1 box">1</div>
        <div class="col-lg-1 box">1</div>
        <div class="col-lg-1 box">1</div>
        <div class="col-lg-1 box">1</div>
        <div class="col-lg-1 box">1</div>
        <div class="col-lg-1 box">1</div>
        <div class="col-lg-1 box">1</div>
        <div class="col-lg-1 box">1</div>
        <div class="col-lg-1 box">1</div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="box"></div>
        </div>
        <div class="col-lg-6 box tall-box"></div>
        <div class="col-lg-3 box"></div>
        <div class="col-lg-3 box"></div>
    </div>
    <div class="row">
        <div class="col-lg-3">
            <div class="box stack"></div>
            <div class="box stack"></div>
            <div class="box stack"></div>
            <div class="box stack"></div>
        </div>
        <div class="col-lg-6 box tall-box"></div>
        <div class="col-lg-3">
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
            <div class="box"></div>
        </div>
    </div>
</div>

</body>
</html>