<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LINK FUNCTION</title>
</head>
<body>
<h3 link-demo>Hover the mouse over me.</h3>

<!--<map-geo-location width="400" height="400"></map-geo-location>-->


<hr>
<h3>Delay Bind Directive</h3>
<div>
    <ul>
        <li ng-repeat="text in texts"
            delay-bind="{{::text.id}}"
            attribute="title"
            trigger="mouseenter">
            <a delay-bind="{{::text.author}}"
               attribute="href"
               trigger="mouseenter">
                {{text.text}}
            </a>
        </li>
    </ul>
    <div>Total Texts: {{::texts.length}}</div>
</div>

<h1>This is with the controller</h1>

<directive-with-controller></directive-with-controller>


<h1>DEMO OF TRANSCLUDE</h1>


<transclude-directive people="people">


    <ul>
        <li ng-repeat="person in people">{{person}}</li>
    </ul>

</transclude-directive>


</body>
</html>