<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="col-lg-6">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="row">
                        <label for="org-selector">Organization: </label>
                        <select name="org-selector" id="org-selector"
                                ng-options="org.textId as org.author for org in orgs"
                                ng-model="orgSelect"
                                ng-change="loadOrgDetails(orgSelect)"
                                ng-show="showOrgList">
                        </select>
                        <span id="org-spinner" ng-show="showOrgSpinner"
                              us-spinner="{radius:5, width:2, length: 2}"></span>
                    </div>
                    <div class="row warning-animation" ng-show="orgNoData">
                        <div class="alert alert-danger warning-animation" role="alert" id="org-no-data">
                            <h5>THERE ARE NO ASSETS TO CHOOSE FROM</h5>
                        </div>
                    </div>
                    <div class="row warning-animation" ng-show="orgHttpErr">
                        <div class="alert alert-danger " role="alert" id="org-http-err">
                            <h5>HTTP ERROR: {{orgHttpErrCode}} - {{orgHttpStatusCode}}</h5>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <label for="peril-selector">Peril: </label>
                        <select name="peril-selector" id="peril-selector"
                                ng-options="peril.id as perilName(peril) for peril in perils"
                                ng-model="perilSelect"
                                ng-show="showPerilsList">
                        </select>

                        <span id="perils-spinner" ng-show="showPerilsSpinner"
                              us-spinner="{radius:5, width:2, length: 2}"></span>
                    </div>
                    <div class="row warning-animation" ng-show="perilNoData">
                        <div class="alert alert-danger warning-animation" role="alert" id="peril-no-data">
                            <h5>THERE ARE NO ASSETS TO CHOOSE FROM</h5>
                        </div>
                    </div>
                    <div class="row warning-animation" ng-show="perilHttpErr">
                        <div class="alert alert-danger " role="alert" id="peril-http-err">
                            <h5>HTTP ERROR: {{httpErrorCode}} - {{httpStatusCode}}</h5>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <label class="control-label" id="time-label"> Select a
                            Time:</label>

                        <input type="text" size="5" class="form-control" ng-model="selectedTime"
                               data-autoclose="1" placeholder="Date" bs-datepicker id="date-picker">

                        <input type="text" size="5" class="form-control" ng-model="selectedTime"
                               data-time-format="hh:mm:ss a" data-autoclose="1" placeholder="Time"
                               bs-timepicker id="time-picker">
                    </div>

                    <hr>
                    <div class="row">
                        <label for="asset-selector" id="asset-selector-label">Select an
                            Asset:</label>
                        <select multiple name="asset-selector"
                                id="asset-selector"
                                ng-attr-size="{{assetSelectorHeight}}"
                                ng-options="asset.id as asset.id for asset in assets"
                                ng-model="assetSelect"
                                ng-show="showAssetsList">
                        </select>
                         <span id="assets-spinner" ng-show="showAssetsSpinner"
                               us-spinner="{radius:5, width:2, length: 2}"></span>

                        <div class="row warning-animation" ng-show="assetNoData">
                            <div class="alert alert-danger warning-animation" role="alert" id="asset-no-data">
                                <h5>THERE ARE NO ASSETS TO CHOOSE FROM</h5>
                            </div>
                        </div>
                        <div class="row warning-animation" ng-show="assetHttpErr">
                            <div class="alert alert-danger " role="alert" id="asset-http-err">
                                <h5>HTTP ERROR: {{assetHttpErrCode}} - {{assetHttpStatusCode}}</h5>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <button class="btn btn-primary"
                                ng-click="sendAlert(orgSelect, perilSelect,selectedTime, assets, assetSelect )"
                                ng-disabled="enableSendBtn(assetSelect)">
                            SEND ALERT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</body>
</html>