<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="col-lg-5">
        <div class="panel panel-primary">
            <div class="panel-body">
                <div class="col-lg-12">
                    <div class="row">
                        <label for="org-selector">Organization: </label>
                        <select name="org-selector" id="org-selector"
                                ng-options="org.textId as org.author for org in orgs"
                                ng-model="orgSelect"
                                ng-change="loadOrgDetails(orgSelect)">
                        </select>
                    </div>
                    <hr>
                    <div class="row">
                        <label for="peril-selector">Peril: </label>
                        <select name="peril-selector" id="peril-selector"
                                ng-options="peril.perilId as peril.perilId for peril in perils"
                                ng-model="perilSelect">
                        </select>
                    </div>
                    <div class="row">
                        <div class="alert alert-danger warning-animation" role="alert" id="asset-no-data"
                             ng-show=true>
                            <h5>THERE ARE NO ASSETS TO CHOOSE FROM</h5>
                        </div>
                    </div>

                    <hr>
                    <div class="row">
                        <label class="control-label" id="time-label"> Select a
                            Time:</label>

                        <input type="text" size="5" class="form-control" ng-model="selectedTime"
                               data-autoclose="1" placeholder="Date" bs-datepicker id="date-picker">

                        <input type="text" size="5" class="form-control" ng-model="selectedTime"
                               data-time-format="hh:mm:ss a" data-autoclose="1" placeholder="Time"
                               bs-timepicker id="time-picker">
                    </div>

                    <hr>
                    <div class="row">
                        <label for="asset-selector" id="asset-selector-label">Select an
                            Asset:</label>
                        <select multiple name="asset-selector"
                                id="asset-selector"
                                ng-attr-size="{{assetSelectorHeight}}"
                                ng-options="asset.id as asset.id for asset in assets"
                                ng-model="assetSelect">
                        </select>
                    </div>
                    <hr>
                    <div class="row">
                        <button class="btn btn-primary" ng-click="sendAlert(orgSelect, perilSelect,selectedTime, assets, assetSelect )"
                                ng-disabled="enableSendBtn(assetSelect)">
                            SEND ALERT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>